*{
    margin: 0; 
    padding: 0; 
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
} 
  

  .banner .ban-img{  

    margin-left: 80px; 
    height: 430px; 
    width: 1200px; 
    margin-top:10px;


}  
 
  .text-title{  
text-align: center;  
 top: 20%; 
position: absolute; 
color: white; 
} 
.sub-title{
    font-size: 30px; 
    font-weight: 700; 
} 
.head-title{
font-size: 55px; 
font-weight: 800; 
line-height: 70PX;
} 
.container  .text-title{
    max-width: 500px;  
  margin-left: 420px; 
  margin-right: 250px; 
  
        
} 
 
.heading-off{
    color: 
    #FF0000; 
    font-size: 50px; 
    font-size: 800;  
    word-spacing: 10px; 
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 25px;
} 

.heading-title{ 
    color:  #FF0000;
    font-size: 20px; 
    text-align: center; 
    font-weight: 100; 
} 
  
.text-heading{
    text-align: center;
    margin-top: 8px;
}
.new-year-img{
    width: 500px; 
    height: 310px; 
    margin-left: 33%; 
    margin-top: 2%;

}  

.section-img,.inofo-join{
    margin-left: 80px; 
    height: 430px; 
    width: 1200px;
    margin-top: 70px ;

} 
 .head-img{
    top:400px; 
  text-align: left;
} 
.text-image {
  
}
 
  .title {
    font-size: 45px;  
    font-weight: 700;  
    margin-bottom: 18px; 
} 
.description{
    font-size: 15px; 
    margin-top: 0;
} 
button{
    border-radius: 10px; 
    font-size: 25px; 
   margin-top: 35px ;  
   margin-left: 25px; 
   padding: 5px 10px; 
   background:#a6f7c3 ; 
   border: 2px solid gainsboro;

} 
.inofo-join{
    text-align: center; 
     margin: 40px 78px 5px ;
    line-height: 35px; 
    background: peachpuff; 
    border-radius: 15px; 
    border: 1px solid wheat;  
   

}  
.color{
    color:  #FF0000;
   

} 
.inofo-join main{
   padding-top: 8%;  


} 
.btn{
    border-radius: 10px; 
    color: white; 
    font-size: 25px; 
    background:  #FF0000;
    padding: 5px 10px;
    margin-top: 50px;
}  
.head{
    font-weight: 600; 
    font-size: 21px;
} 
.head-img-head {
    display: flex;
    justify-content: space-between;
    margin: 0 100px; 
    align-items: center; 
    gap: 8%;
} 

.head-color{
    color: #FF0000; 
   
} 
.head1{
    font-size: 40px;
    font-weight: 700; 
    margin-top: 8px;
   
}  

.circle-img{
    
    width: 220px; 
    height: 220px;
   margin-top: 60px; 
   margin-left: 1%;
   border: 6px solid red; 
   border-radius: 70%; 
   padding: 25px 25px;
 
 }  

 .head2{
    color:  #FF0000;
    font-size: 40px; 
    font-weight: 800; 
    margin-top: 70px;
    margin-bottom: 12px; 
 } 
 .descript{
    width: 400px;
    line-height: 20px; 
    margin-top: 15px; 
 
 } 
 .new-image{
    margin-top: 20px; 
    
 }
.article{
    margin-left: 90px;
   padding-top: 15%;
  
} 
.first-row ,.apps{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap:2%; 
  margin: 0 auto;  
  margin-top: 45px;

}  

.pic img{
    width:390px; 
    transition: transform 0.5s;
}  
.pic img:hover { 
    transform: scale(1.1); 
    
}
 .second-row{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap:2%; 
    margin: 0 auto;  
    margin-top: 20px; 
}  
.message-box{
    text-align: center; 
    margin-top: 70px; 
    padding-top: 40px; 
     
   
    
}  
.box-section{
    background: #fdedec;  
    margin: 0 100px 0px 100px; 
    border-radius: 5px; 
    min-height: 490px;
   
} 

  form .type-text{
    width: 350px;
    height: 35px; 
    /* align-items: center; */
    border-radius: 15px; 
    border:none; 

} 

 form .clik-btn{ 
    color:#fdfefe; 
    background: #FF0000;
     
} 
form{  
    width:500px;    

} 
/* footer section start here */
.footer{
    background:#800080;  
    color: #fdfefe; 
    margin: 0 100px 0px 100px; 
    border-radius: 5px; 
   min-height: 420px;
} 

.part{
    display: flex; 
    text-align: center; 
    justify-content: space-between;
    margin-top: 80px; 
    padding-top: 40px; 
   
 
} 
.part-one{

  margin-left: 8%; 
  max-width: 240px; 
  line-height: 30px;
}
.part-two{
    padding: 20px 100px; 
    margin-right: 8%; 
    line-height: 30px; 
 
 
} 
.apps{
   text-align: center; 
   margin-top: 50px; 
   padding: 20px 40px;

}  

.parts{
    display: flex; 
    justify-content: space-between; 
    margin: 50px 180px 90px 90px;
}  
hr{
    margin: 0 80px;  
    cursor: pointer; 
    
}
hr:hover{
    color: yellow; 
    
} 






   

   
